body {
    font-family: sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

#toolbar {
    background: #eee;
    padding: 10px;
    display: flex;
    gap: 10px;
}

#gameArea {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvasContainer {
    flex-grow: 1;
    background: #f8f8f8;
    position: relative;
    justify-content: center;
    align-items: center;
}

#circuit {
    background-image: url('../jpeg/木の板.jpeg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 500px;
    border: 1px solid #000;
}

video {
      position: fixed;
      top: 0;
      left: 0;
      min-width: 80%;
      min-height: 120%;
      object-fit: cover;
      z-index: -1;
      margin-left: 30px;
    }

#rulu {
    background-color: rgba(0, 255, 255, 0.727);
}
#palette {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.nand-box {
  cursor: grab;
  user-select: none;
  margin: 5px 0;
  background-color: #ffe;
  padding: 4px 8px;
  border: 1px solid #aaa;
  border-radius: 3px;
}

canvas {
    border: 1px solid #ccc;
}

.button {
    padding: 8px 12px;
    background: #4285f4;
    color: white;
    border: none;
    cursor: pointer;
}

.button:hover {
    background: #3367d6;
}

#result-modal {
    display: none;
    position: fixed;
    top: 10%;
    left: 10%;
    background: white;
    border: 1px solid black;
    padding: 20px;
    max-height: 80%;
    overflow: auto;
    z-index: 1000;
}

#result_table {
    margin-left: 20px;
    background-image: url('../jpeg/基盤.png');
}

#assignmentTable {
    margin-left: 20px;
    background-image: url('../jpeg/基盤.png');
}

svg {
    background: #f8f8f8;
    width: 800px;
    height: 600px;
    border: 1px solid black;
}
.nand {
    fill: orange;
    stroke: black;
    stroke-width: 2;
}
.power {
    fill: yellow;
    stroke: black;
    stroke-width: 2;
}
.end {
    fill: lightblue;
    stroke: black;
    stroke-width: 2;
}
.wire {
    stroke: black;
    stroke-width: 3;
}

.difficultySelector {
    cursor: grab;
    user-select: none;
    margin-left: auto;
    background-color: #ffe;
    padding: 4px 8px;
    border: 1px solid #aaa;
    border-radius: 3px;
    width: 300px;
}